<!DOCTYPE html>
<html>
  <head>
    <title>Tachikoma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="Tachicoma - Tàpies"/>
    <meta property="og:site_name" content="Tachicoma - Tàpies"/>
    <meta property="og:description" content="Tachicoma - Tàpies"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/vendor/jquery-2.0.3.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://use.typekit.net/snb4nsn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
        <div class="wrap">
          <div class="human blink_me"></div>
          <div class="tachi-wrapper">
            <div i class="block">
              <div id="humanos" class="humanos"></div>
            </div>
            <div class="human-detected"></div>
            <div class="block">
              <div class="title section">
                <h3 data-name="title">Not Yet Know</h3>
                <p>Ontologías sorpresa y agencia-ficción.</p>
              </div>
            </div>
            <div class="inside block text-wrapper">
              <div class="metaphor section">
                <div class="blockquote">
                  <p id="sentencia" class="metaphor-text"><%= sentences %>
                  </p>
                </div>
              </div>
            </div>


        </div>
    </div>
    <div class="footer">
      <div class="texto-about"><p>About</p></div>
    </div>
  <canvas id="video" width="200" height="160" class="scale"></canvas>
  <script type="text/javascript" src="/javascripts/vendor/jquery.hotkeys.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/jquery.particleground.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/moment.min.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/seedrandom.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/bitcoinprices.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/terra.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/ccv.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/face.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/mandrill.min.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/face.js"></script>
  <script type="text/javascript" src="/javascripts/site.js"></script>
  </body>
</html>