<!DOCTYPE html>
<html>
  <head>
    <title>Tachikoma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="Metaphorpsum"/>
    <meta property="og:image" content="http://metaphorpsum.com/images/logo.png"/>
    <meta property="og:site_name" content="Metaphorpsum"/>
    <meta property="og:description" content="A wise, if not slightly pedantic, generator of metaphor."/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/javascripts/site.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.particleground.js"></script>
    <script type="text/javascript" src="/javascripts/seedrandom.js"></script>
    <script type="text/javascript" src="/javascripts/terra.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
  </head>
  <body>
        <div class="wrap">
          <div id="terra"></div>
          <div class="human"></div>
          <div class="tachi-wrapper">
          <div i class="block">
            <div id="humanos" class="humanos"></div>
          </div>

          <div class="block">
            <div class="title section">
              <h3 data-name="title">Tachikoma</h3>
              <p>Psudo-Artificial generator-metaphor of tapies archived</p>
            </div>
          </div>

          <div class="block">
            <div class="metaphor section">
              <div class="blockquote"><p id="sentencia" class="metaphor-text"><%= sentences %></p></div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>